/**
  These variables are for color definition only.
  They are NOT to be used in components.
  Use _colors.scss instead.
*/

// Brand pantones.
$blue: #2dbdf2;
$blue-dark: #218bb2;


// Black to white.
$richblack: #000;

$black: #333;

$gray-dark: #666;
$gray-medium: #999;
$gray-light: #afafaf;

$silver-dark: #ccc;
$silver-medium: #dedede;
$silver-light: #ebebeb;

$white: #fff;