/**
  These variables are for font-size definition only.
  They are NOT to be used in components.
  Use _font-sizes.scss instead.
*/

// Extra large to be used on mastheads, etc.
$font-size--giga    : 48px;
$font-size--mega    : 40px;
$font-size--kilo    : 32px;

// Main font sizes for body text headings.
$font-size--alpha   : 28px;
$font-size--beta    : 24px;
$font-size--gamma   : 20px;
$font-size--delta   : 18px;
$font-size--epsilon : 16px;
$font-size--zeta    : 14px;

// The base size for body text.
$font-size--base    : 13px;

// Smaller script for foot notes, legal, etc.
$font-size--milli   : 12px;
$font-size--micro   : 10px;