/**
  Generic spacers.
 */

// The base spacing unit is what all other spacing units are based on.
$space: 20px;

// The vertical rhythm used for typographical and content blocks.
$space--block: $space;

// The vertical and horizontal rhythm used for content frames.
$space--frame: $space;

// The vertical rhythm used for sectioning blocks.
$space--section: $space--block * 2;

// The indentation spacing for content blocks with indented children. Eg `ul`.
$space--indent: $space--block * 2;

// The inset spacing for boxed elements. Eg bordered content block or `input`.
$space--inset: $space / 2;


/**
  Specific spacers.
 */

$height--status-bar    : 20px;
$height--nav-bar       : 44px;
$height--tab-bar       : 50px;

$min-height--list-item : 44px;

$inset--nav-bar-button : 16px;
$inset--list-item      : 15px;