@import 'assets/variables/colors';
@import 'assets/variables/font-sizes';
@import 'assets/variables/spaces';
@import 'assets/animations/fade-in';

.nav-bar {
  background: $color-background--brand;
  color: $color-text--invert;
  height: $height--nav-bar;
  display: flex;
  text-align: center;
}

  .nav-bar_item {
    width: 20%;
    position: relative;
  }

  .nav-bar_item--middle {
    width: 60%;
  }

  %fully-centered {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-bar_title {
    margin: 0;
    font-size: $font-size--heading-smallest;
    font-weight: 200;
    line-height: 1;
    @extend %fully-centered;
  }

  // Add some spacing to visually center the text
  .nav-bar_title:not(.nav-bar_title--logo) {
    padding-bottom: 2px;
  }

  .nav-bar_title--logo {
  }

  .nav-bar_button {
    color: $color-text--invert;
    @extend %fully-centered;
  }
  .nav-bar_button:hover,
  .nav-bar_button:focus,
  .nav-bar_button:active {
    cursor: pointer;
    color: $color-text--invert;
    text-decoration: none;
  }