@import 'assets/variables/colors';
@import 'assets/variables/spaces';

.button {
  border: 3px;
  background: $color-button;
  color: $color-text--invert;
  padding: 10px $space--frame;
}

.button-round {
  border-radius: 5px;
}

.button-block {
  display: block;
  width: 100%;
}